[Desktop Entry]
Version=1.1
Type=Application
Name=Browser Selector
GenericName=Web Browser
Comment=Access the Internet
Icon=applications-internet
Exec=/home/$USER/bin/browserselector/gui_bin %u
Actions=
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
StartupWMClass=gui.py
