[Desktop Entry]
Version=1.1
Type=Application
Name=Browser Selector
GenericName=Web Browser
NoDisplay=true
Comment=Access the Internet
Icon=browser
Exec=python3 /home/joni/bin/MyBrowserSelector/gui.py
Actions=
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
